#login {
	margin: 0 auto;
	padding: 60px 0;
	width: 300px;
}
#login h1 a {
    background-image: url("../images/logo.png");
    background-position: center top;
    background-repeat: no-repeat;
    display: block;
    height: 67px;
    overflow: hidden;
    padding-bottom: 15px;
    text-indent: -9999px;
}
#login form {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7);
    font-weight: normal;
    padding: 50px 40px;
}
#login label{
    font-size: 14px;
    color: #777777;
}